@media (max-width: 900px) {
    .beeFlyy {
      width: 30px !important;
      height: 30px !important;
    }
  }
  
  @media (max-width: 500px) {
    .beeFlyy {
      width: 22px !important;
      height: 22px !important;
    }
  }
  