.pagination-container {
    margin: 40px auto;
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
  }
  
  .circle-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: #f4f1ea;
    color: #333;
    font-size: 10px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle-btn.active {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
  }
  
  .circle-btn.dots {
    opacity: 0.7;
    cursor: default;
  }
  
  .circle-btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  
  .circle-btn:hover:not(:disabled):not(.dots) {
    background: #eae6dd;
  }
  
  .pagination {
    width: 100%;
    display: flex;
    margin: 0 auto;
  }


@media (max-width: 1000px) { 
  .circle-btn {
    width: 30px;
    height: 30px;
    font-size: 0.6rem;
  }
}

@media (max-width: 800px) {  
  .circle-btn {
    width: 20px;
    height: 20px;
    font-size: 0.5rem;
  }
}